.info{
    justify-content: left;
    align-items: center;
    width: 40%;
    color: black;
    background-color: white;
    margin: 100px;
    margin-left: 50px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.8) 0px 0px 60px;
    transition: all 300ms;
}

.info:hover{
    box-shadow: rgba(0,0,0,0.8) 20px 20px 0px;
}

.contacto{
    color: black;
    display: flex;
    width: 100%;
    height: 100vh;
    margin-top: 10px;
    margin-right: 10px;
    align-items: center;
}

form{
    background-color: white;
    display: flex;
    flex-flow: column;
    background-color: white;
    width: 40%;
    height: 80%;
    padding: 25px;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0,0,0,0.8) 0px 0px 60px;
    border-radius: 10px;
    transition: all 300ms;
}

form:hover{
    box-shadow: rgba(0,0,0,0.8) 20px 20px 0px;
}

input, textarea{
    border: none;
    resize: none;
    padding: 15px 0px;
    width: 80%;
    margin: 29px;
    transition: all 300ms;
    border-bottom: 1px solid;
}

button{
    border: none;
    color: white;
    margin-left: 350px;
    padding: 9px;
    border-radius: 10px;
    background-image: radial-gradient(circle at 110.16% 39.39%, #ff68ff 0, #e054fe 25%, #b53cf2 50%, #8526e6 75%, #4d1cde 100%);
    transition: all 300ms;
}

button:hover{
    padding: 20px;
}


